html {
    height: 90%
}
body {
    margin: 0 0 0 0;
    border: 0;

    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.dimensions {
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dimensionDisplay, .dimensionButton {
    margin: 0px 16px;
}

.grid {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.row {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.cell {
    flex: 1;
}