html {
    height: 100%
}
body {
    margin: 0 0 0 0;
    border: 0;

    font-size: 36px;
    display: flex;
    min-height: 100%;
}

.grid {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.row {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.cell {
    flex: 1;
}