body {
    margin: 0 0 0 0;
    border: 0;

    font-size: 36px;
    display: flex;
    min-width: 100%;
    min-height: 100%;
}

.grid {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.row {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.cell {
    flex: 1;
    width: 6.25%;
    height: 6.25%;
}